# Environment variables
.env

# Virtual environment
venv/

# Python cache / build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# IDE / editor settings
.vscode/
.idea/

# macOS / Windows junk
.DS_Store
Thumbs.db
