# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
.env

# Spotipy cache
.spotipy_cache

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
.cache

# Build artifacts
static/dist/

# IDE
.vscode/
.idea/
