
.color-bends-wrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.color-bends-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.color-bends-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
